<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>Page Server Error (500)</title>
</head>
<body>
<p>
    Erro detail:
    <br>
    <%- error.message %>
</p>
<hr>
<p>Back to <a href="/">home page?</a> :)</p>
</body>
</html>